configparser==5.2.0
cx-Freeze==6.11.0
jeepney==0.8.0
loguru==0.5.3
notify-py==0.3.3
packaging==21.3
patchelf==0.14.5.0
pymongo==4.1.1
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyQt5-stubs==5.15.2.0
